body{
	background-color: #f1f1f1;
	color: white;
	font-family: "Verdana";
	margin: 0;
}

/* Start of Navigation Bar */

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li, a{
	font-family: "Verdana", sans-serif;
	text-decoration: none;
}

header{
	background-color: #171614;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.links{
	list-style: none;
	color: white;	
}

.links li{
	display: inline-block;
	margin-left: 4vw;
}

.links a{
	font-size: 1em;
	color: #f1f1f1;
	transition: all 0.4s ease 0s;
}

.links a:hover{
	color: #4A7C59;
}

.prof{
	width: 55px;
	height: 55px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 10vw;
	margin: 0vw 5vw 0vw 3vw; 
}

.dp{
	height: 100%;
	width: auto;
}

nav{
	margin-right: auto;
}

.evg{
	opacity: 1;
	border-radius: 50px;	
	color: #f1f1f1;
	font-size: 1.5em;
	font-weight: 1000;
	transition: all 0.4s ease 0s;
	cursor: default;
}

ul{
	list-style-type: none;
}

.dlinks{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
  	min-width: 12vw;
  	height: auto;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
} 

.dlinks a{
	color: black;
	text-decoration: none;
	display: block;
	text-align: left;
	padding: 1vw 2vw; 
}

.dlinks a:hover{
	background-color: #171614;
	color: #f9f9f9; 
}

.dropdown:hover .dlinks{
	display: block;
}

#press{
	border-bottom: 2px solid #4A7C59;
	padding: 10%;
}

#press:hover{
	border: none;
}

/* End of Navigation Bar */

.about{
	width: 98%;
	height: 45vh;
	background-color: #171614; 
	margin: 1%;
  	box-shadow: 8px 8px 20px 0px rgba(0,0, 0, 0.5);
  	border-radius: 5px;
}

#us{
	font-family: "Verdana";
	font-size: 2em;
	text-align: center;
	padding-top: 9vh;
}

.us{
	text-align: center;
	font-family: "Times New Roman";
	margin: 2% 25%;
	font-size: 1.25em;
	line-height: 30px;
}

.aboutp{
	color: black;
	margin: 4% 17%;
}

#page{
	font-family: "Verdana";
	font-size: 3em;
	font-weight: 1000;
}

hr{
	width: 55%;
	border: 2px solid #4A7C59;
	border-radius: 50px;
}

.page{
	margin: 2% 0%;
	line-height: 25px;
}
