body{
	font-family: "Verdana";
	background-color: #171614;
	color: black;
	margin: 0;
}

.header{
	font-family: "Verdana";
	font-size: 3em;
	padding-left: 1%;
	height: 11%;
	text-align: left;
	color: white;
	margin-top: 15vh;
	margin-left: 5vw;
	position: absolute;
}

.error{
	color: #FF0000;
	position: absolute;
	background-color: #211F1C;
	padding: 3px 10px;
	border-radius: 10px;
}
form{
	background-color: #211F1C;
	margin-left: 55%;
	margin-top: 16vh;
	text-align: left;
	color: white;
	width: 23%;
	font-family: "Verdana";
	font-size: 15px;
	box-shadow: 20px;
	padding: 5% 20px; 
	box-shadow: 16px 16px 16px 0px rgba(0,0,0,0.5);
}
input{
	padding: 2px 0 2px 10px;
	margin-bottom: 15px;
	box-shadow:inset 0 0 5px #000;
}
.field{
	padding: 5px 10px;
	width: 17.5vw;
	outline: none;
	border-radius: 7.5px;
	border: none;
	border: 2px solid #211F1C;
}
.field:focus{
	border: 2px solid #4A7C59;
}
.button{
	font-size: 20px;
	font-family: "Verdana";
	padding: 10px;
	background-color: #4A7C59;
	outline: none;
	border: none;
	border-radius: 7.5px;
	opacity: 0.8;
}

.button:disabled{
	background-color: gray;
}

.button:enabled:hover{
	opacity: 1;
	cursor: pointer;
}

header{
	background-color: #4A7C59;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	width: 100%;
	height: 55px;
}

li, a{
	text-decoration: none;
	font-family: "Verdana", sans-serif;
}

ul {
	list-style-type: none;
 }

.links{
	list-style: none;
	color: white;
}

.links li{
	display: inline-block;
	margin-left: 4vw;
}

.links a{
	font-size: 1em;
	color: #f1f1f1;
	transition: all 0.4s ease 0s;
}

.links a:hover{
	color: #171614;
}

#press{
	border-bottom: 2px solid #171614;
	padding: 10%;
}

#press:hover{
	border: none;
	color: #171614;
}

nav{
	margin-right: 5%;
}

.page{
	border-bottom: 2px solid #171614;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
