body{
	background-color: #f1f1f1;
	color: white;
	font-family: "Verdana";
	margin: 0;
}

/* Start of Navigation Bar */

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li, a{
	font-family: "Verdana", sans-serif;
	text-decoration: none;
}

header{
	background-color: #171614;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.links{
	list-style: none;
	color: white;	
}

.links li{
	display: inline-block;
	margin-left: 4vw;
}

.links a{
	font-size: 1em;
	color: #f1f1f1;
	transition: all 0.4s ease 0s;
}

.links a:hover{
	color: #4A7C59;
}

.prof{
	width: 55px;
	height: 55px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 10vw;
	margin: 0vw 5vw 0vw 3vw; 
}

.dp{
	height: 100%;
	width: auto;
}

nav{
	margin-right: auto;
}

.evg{
	opacity: 1;
	border-radius: 50px;	
	color: #f1f1f1;
	font-size: 1.5em;
	font-weight: 1000;
	transition: all 0.4s ease 0s;
	cursor: default;
}

ul{
	list-style-type: none;
}

.dlinks{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
  	min-width: 12vw;
  	height: auto;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
} 

.dlinks a{
	color: black;
	text-decoration: none;
	display: block;
	text-align: left;
	padding: 1vw 2vw; 
}

.dlinks a:hover{
	background-color: #171614;
	color: #f9f9f9; 
}

.dropdown:hover .dlinks{
	display: block;
}

#press{
	border-bottom: 2px solid #4A7C59;
	padding: 10%;
}

#press:hover{
	border: none;
}

.error{
	color: #FF0000;
}

/* End of Navigation Bar */

.suggest{
	width: 98%;
	height: 45vh;
	background-color: #171614; 
	margin: 1%;
  	box-shadow: 8px 8px 20px 0px rgba(0,0, 0, 0.5);
  	border-radius: 5px;
}

.pgag{
	text-align: center;
	font-family: "Arial", sans-serif;
	margin: 0 20%;
	font-size: 1em;
	line-height: 30px;
	color: #f1f1f1;
	padding-top: 2%;
	font-weight: 100;
}

.box{
	background-color: #f1f1f1;
	width: 30%;
	margin-left: 34%;
	position: absolute;	
	border-radius: 5px;
	color: black;
	margin-top: 5vh;
	box-shadow: 8px 8px 20px 0px rgba(0,0, 0, 0.5);
}

form{
	background-color: #f1f1f1;
	width: 96%;
	margin: 2% 2%;
	border-radius: 5px;
	border: 2px solid #4A7C59;
}

.comm{
	font-family: "Courier", sans-serif;
	text-align: center;
	font-size: 1.25em;
	font-weight: 1000;
	padding-bottom: 3%;
}

.field{
	width: 75%;
	height: 20vh;
	overflow: auto;
	resize: none;
	box-sizing: border-box;
	border-radius: 7.5px;
	color: black;
	margin-left: 12.5%;
	border: 2px solid black;
	padding: 2%;
	float: left;
	outline: none;
	background-color: white;
}

.field:focus{
	background-color: #D9E8DD; 
}

.button{
	font-size: 1em;
	font-family: "Verdana";
	padding: 2%;
	background-color: #4A7C59;
	outline: none;
	border: none;
	border-radius: 7.5px;
	opacity: 1;
	margin: 5% 63%;
}

.button:hover{
	opacity: 0.8;
}

