body{
	background-color: #f1f1f1;
	color: white;
	font-family: "Verdana";
	margin: 0;
}

/* Start of Navigation Bar */

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li, a{
	font-family: "Verdana", sans-serif;
	text-decoration: none;
}

header{
	background-color: #171614;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.links{
	list-style: none;
	color: white;	
}

.links li{
	display: inline-block;
	margin-left: 4vw;
}

.links a{
	font-size: 1em;
	color: #f1f1f1;
	transition: all 0.4s ease 0s;
}

.links a:hover{
	color: #4A7C59;
}

.icons{
	list-style: none;
	color: white;	
}

.icons li{
	display: inline-block;
	margin: 0 2vw 0 0;
}

#cart{
	margin: 0;
}

.icons i{
	font-size: 23px;
	color: #f1f1f1;
	transition: all 0.4s ease 0s;
}

.icons i:hover{
	color: #4A7C59;
}

#bell:hover{
	color: #4A7C59;
}

.prof{
	width: 55px;
	height: 55px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 10vw;
	margin: 0vw 5vw 0vw 3vw; 
}

.dp{
	height: 100%;
	width: auto;
}

.pprof{
	position: absolute;
	top: 0px;
	width: 45px;
	height: 45px;
	overflow: hidden;
	border-radius: 50%;
}

.pdp{
	height: 100%;
	width: auto;
}

.emannim{
	position: absolute;
	left: 65px;
}

nav{
	margin-right: auto;
}

.evg{
	opacity: 1;
	border-radius: 50px;	
	color: #f1f1f1;
	font-size: 1.5em;
	font-weight: 1000;
	transition: all 0.4s ease 0s;
	cursor: default;
}

ul{
	list-style-type: none;
}

.dlinks{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
  	min-width: 12vw;
  	height: auto;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 3;
} 

.dlinks a{
	color: black;
	text-decoration: none;
	display: block;
	text-align: left;
	padding: 1vw 2vw; 
}

.dlinks a:hover{
	background-color: #171614;
	color: #f9f9f9; 
}

.dropdown:hover .dlinks{
	display: block;
}

#talk{
	border-bottom: 2px solid #4A7C59;
	padding: 10%;
}

#talk:hover{
	border: none;
}

/* End of Navigation Bar */

#contacts{
	position: absolute;
	margin-top: 1%;
	width: 20vw;					
	height: 86vh;
	left: 1%;
	padding: 1% 0;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #FFFCF2;
	border-radius: 5px;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.cmate{
	position: relative;	
	height: 75px;
	display: block;
	margin-top: 0px;
	border-bottom: 1.5px solid #ccc;
	background-color: #FFFCF2;
}

.cmate:hover{
	background-color: #f1f1f1;
}

.chatpic{
	position: relative;
	display: block;
	float: left;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	margin: 10px;
}

h4{
	position: relative;
	text-align: left;
	display: block; 
	margin-left: 0px;
	padding: 20px 0 5% 15px;
	font-size: 14px;
	color: #171614;
	font-family: "Arial", sans-serif;
	font-weight: 750;
}

#chat{
	position: absolute;
	text-align: justify;
	overflow-x: hidden;
	overflow-y: auto;
	right: 16vw;
	width: 61vw;
	height: 72vh;
	margin: 11vh 1% 1% 1%;
	background-color: #FFFCF2;
	border: 1px solid #ccc;
	border-radius: 5px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	padding: 1% 3%;
  	color: black;
}

#name{
	background-color: none;
	color: black;
	position: fixed;
	top: 55px;
	margin-top: 1%;
	right: 17vw;
	padding: 5px 15px;
	max-width:  61vw;
	z-index: 0;
	background-color: #FFFCF2;
	border: 1px solid #ccc;
	border-radius: 15px;
	width:  65vw;
	z-index: 2;
	height: 50px;
}

.pprof{
	width: 40px;
	height: 40px;
	margin-top: 5px;
}

#msgss{
	display: flex;
	flex-direction: column;

	position: relative;
	z-index: 1;
}

.ol{
	font-size: 0.9em;
	font-family: "arial";
	color: green;
}

.notol{
	font-size: 0.9em;
	font-family: "arial";
	color: red;
}

.br{
	display: block;
	margin-bottom: 5px;
}

.to{
	align-self: flex-start;
	text-align: left;
	max-width: 45%;
	padding: 8px 11px;
	font-size: 14px;
	line-height: 20px;
	border-radius: 15px;
	background-color: #ccc;
	word-wrap: break-word;
}

.from{	
	align-self: flex-end;
	font-family: "Verdana", sans-serif;
	background-color: #66A378;
	text-align: left;
	max-width: 45%;
	height: auto;
	padding: 8px 11px;
	font-size: 14px;
	line-height: 20px;
	border-radius: 15px;
	word-wrap: break-word;
}

#send{
	position: fixed;
	z-index: 5;
	right: 14.75vw;
	bottom: 1.5%;
	width: 62vw;
	padding: 0;
}

#msg{
	z-index: 6;
	outline: none;
	border: 2px solid #4A7C59;
	border-radius: 5px;
	width: 53vw;
	padding: 10px 5px;
	font-family: "arial";
}

#msg:focus{
	background-color: #F1F7F1;
}

#sendm:enabled{
	cursor: pointer;
}

#sendm{
	color: white;
	padding: 10px 17px;
	border: none;
	font-size: 13px;
	border-radius: 5px;
	font-family: "Arial";
	background-color: #4A7C59;
}

#sendm:disabled{
	background-color: gray;
}

#sendm:enabled:hover{
	background-color: #3D6649;
}

#message{
	font-size: 3em;
	color: green;
}

#active{
	position: absolute;
	margin-top: 1%;
	width: 15%;					/* Active Now */
	height: 86vh;
	right: 1%;
	padding: 1%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #FFFCF2;
	border-radius: 4px;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.now{
	font-family: "Verdana";
	font-size: 1.25em;
	color: #171614;
	padding: 1% 1% 5% 1%;
	text-align: center;
}

.plink{
	min-height: 50px;
	display: block;
	margin-top: 12px;
	border-bottom: 1.5px solid #4A7C59;
}

#chatur{
	position: relative;
	display: block;
	float: left;
	margin-left: 5px;
}

h5{
	position: relative;
	text-align: left;
	display: block; 
	margin-left: 50px;
	padding: 5% 0 5% 15px;
	font-size: 13px;
	color: #171614;
	font-family: "Verdana", sans-serif;
	font-weight: 100;
}

