body{
	background-color: #f1f1f1;
	color: white;
	font-family: "Verdana";
	margin: 0;
}

/* Start of Navigation Bar */

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li, a{
	font-family: "Verdana", sans-serif;
	text-decoration: none;
}

header{
	background-color: #171614;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.links{
	list-style: none;
	color: white;	
}

.links li{
	display: inline-block;
	margin-left: 4vw;
}

.links a{
	font-size: 1em;
	color: #f1f1f1;
	transition: all 0.4s ease 0s;
}

.links a:hover{
	color: #4A7C59;
}

.icons{
	list-style: none;
	color: white;	
}

.icons li{
	display: inline-block;
	margin: 0 2vw 0 0;
}

#cart{
	margin: 0;
}

.icons i{
	font-size: 23px;
	color: #f1f1f1;
	transition: all 0.4s ease 0s;
}

.icons i:hover{
	color: #4A7C59;
}

.prof{
	width: 55px;
	height: 55px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 10vw;
	margin: 0vw 5vw 0vw 3vw; 
}

.dp{
	height: 100%;
	width: auto;
}

nav{
	margin-right: auto;
}

.evg{
	opacity: 1;
	border-radius: 50px;	
	color: #f1f1f1;
	font-size: 1.5em;
	font-weight: 1000;
	transition: all 0.4s ease 0s;
	cursor: default;
}

ul{
	list-style-type: none;
}

.dlinks{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
  	min-width: 12vw;
  	height: auto;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 3;
} 

.dlinks a{
	color: black;
	text-decoration: none;
	display: block;
	text-align: left;
	padding: 1vw 2vw; 
}

.dlinks a:hover{
	background-color: #171614;
	color: #f9f9f9; 
}

.dropdown:hover .dlinks{
	display: block;
}

#talk{
	border-bottom: 2px solid #4A7C59;
	padding: 10%;
}

#talk:hover{
	border: none;
}

/* End of Navigation Bar */

#contacts{
	position: absolute;
	width: 29vw;
	height:  86vh;
	overflow: auto;
	margin: 1%;	
	border: 2px solid #171614;
	border-radius: 5px;
}

#chat{
	position: static;
	text-align: justify;
	overflow-x: hidden;
	overflow-y: auto;
	float: right;
	width: 65vw;
	height: 86vh;
	margin: 1%;
	border: 2px solid #171614;
	color: black;
	border-radius: 3px;
}


#msg{
	width: 40vw;
}

#name{
	background-color: #4A7C59;
	color: black;
	position: fixed;
	width:  65vw;
	z-index: 2;
}

#msgss{
	position: relative;
	top:  5vh;
	z-index: 1;
}

.ol{
	color: green;
}

.notol{
	color: red;
}

.to{
	left: 0;
	position: absolute;
}

.from{
	position: absolute;
	right:  0;
}

#send{
	position: fixed;
	right:  3%;
	bottom:  10px;
}

#message{
	font-size: 3em;
	color: green;
}