/* Start of Market List */

.market{
	background-color: white;
}

#mhead{
	color: black;
	font-family: "Verdana", sans-serif;
}

.market{
	position: absolute;
	max-width: 79%;                   /* Market Header */
	overflow: none;
	margin-top: 3%;
	margin-left: 9%;
	background-color: #f1f1f1;
	text-align: center;
}

.marketsa{
	margin: 4% 5%;
	border: 1px solid #ccc;
	float: left;
	width: 40%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
	transition: all 0.4s ease 0s;
}

.marketsa:hover{
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3);
}

.marketsa img{
	width: 100%;
	height: 25vh;
	object-fit: cover;
	object-position: 50% 50%;
}

.md{
	padding: 5%;
	color: black;
	text-align: center;
}

hr{
	margin-top: 3%;
	margin-bottom: 1%;
}

/* End of Market List */