#searchuser{
    position: absolute;
    margin-top:2.5%;
    margin-left: 9.5%;
    border: 2px solid;
    width: 20%;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: wrap;
    padding: 10px 0px 10px 0px;
}

#inp{
    flex: 1;
    box-sizing: border-box;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 15px;
    padding: 14px 20px 12px 10px;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 80%;
    margin-top: 3px;
}

#inp:focus{
    outline: 3px solid #ddd;
}

#inpicon{
    font-size: 20px;
    padding-left: 10px;
}

#addnotif{
    padding: 1%;
    border: 2px solid;
    position: absolute;
    margin-top: 2.5%;
    margin-left: 30%;
    height: 80%;
    width: 60%;
}

.error{
    font-size: 15px;
    color: #FF0000;
    position: absolute;
    padding: 0px 10px;
    border-radius: 10px;
}
