body{
	background-color: #f1f1f1;
	color: white;
	font-family: "Verdana";
	margin: 0;
}

.about{
	width: 98%;
	height: 45vh;
	background-color: #171614; 
	margin: 1%;
  	box-shadow: 8px 8px 20px 0px rgba(0,0, 0, 0.5);
  	border-radius: 5px;
}

#us{
	font-family: "Verdana";
	font-size: 2em;
	text-align: center;
	padding-top: 9vh;
}

.us{
	text-align: center;
	font-family: "Times New Roman";
	margin: 2% 25%;
	font-size: 1.25em;
	line-height: 30px;
}

.aboutp{
	color: black;
	margin: 4% 17%;
}

#page{
	font-family: "Verdana";
	font-size: 3em;
	font-weight: 1000;
}

hr{
	width: 55%;
	border: 2px solid #4A7C59;
	border-radius: 50px;
}

.page{
	margin: 2% 0%;
	line-height: 25px;
}
