body{
	background-color: #f1f1f1;
	color: white;
	font-family: "Verdana";
	margin: 0;
	color: black;
}

.error{
	color: red;
	display: inline-block;
	position: relative;
	font-size: 10px;
}

.disc{
	margin: 2vh 5vw; 
	color: black;
	text-align: center;
	font-family: "Arial";
	font-weight: 100;
	font-size: 15px;
}

#fhr{
	width: 90%;
	margin-left: 5%;
}

.items {		
	margin: 5vh 10vw 110px 10vw;
	padding-bottom: 20px;
	width: 80%;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.title{
	text-align: center;
	display: flex;
	justify-content: space-between;
	padding: 20px 0vw 1vh 5vw;
}

h4{
	display: inline;
	font-family: "Times New Roman";
	font-size: 1.2em;
}

.uni{
	padding: 15px 0vw 0 5vw;
	display: flex;
	justify-content: space-between;	
	align-items:center;
}

.unit{
	width: 4%;
	color: #766A56;
	text-align: center;
	font-size: 0.7em;
}

.eman{
	width: 25%;
	color: black;
	font-family: "Verdana", sans-serif;
	font-size: 1.1em;
	font-weight: 1000;
}

#eman{
	text-align: left;
	width: 27%;
	margin-left: 0vw;
}

#quan{
	width: 22%;
}

#price{
	width: 22%;
}

#tprice{
	text-align: center;
	width: 24%;
}

.quan{
	width: 20%;
	color: black;
	text-align: center;
	font-size: 0.9em;
}

.price{
	width: 20%;
	text-align: center;
	font-size: 0.9em;
}

.tprice{
	width: 23%;
	text-align: center;
	background-color: 
}

#market{
	color: #1F3325;
	font-size: 0.7em;
	padding: 0;	
	margin-left: 5vw;
}

.tamount{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 4.5vw;
}

#tamount{
	font-size: 0.9em;
	margin-right: 1vw;
	color: #171614;
}

#tantamount{
	font-family: "Verdana";
	font-size: 1em;
	font-weight: 1000;
	color: #BF2722;
}

form{
	background-color: #FFFCF2;
	position: fixed;
	width: 100%;
	height: 60px;	
	bottom: 0;
	font-family: "Arial";
	box-shadow: 0px -8px 16px 0px rgba(0,0,0,0.2);
}


input[type=text]{
	display: inline-block;
	margin-top: 5px;
	padding: 2px 4px;
 	color: #171614;
 	border: 1.5px solid #171614;
 	border-radius: 2px;
 	outline: none;
}

#cn, #st, #bry{
	margin: 0% 4% 4% 4%;
	width: 96%;
	display: block;
	padding: 5px 10px;
 	color: #171614;
 	border: 1.5px solid #ccc;
 	border-radius: 5px;
 	outline: none;
 	text-align: left;
 	font-family: "Verdana";
 	font-size: 13.25px;
}

#cn:focus, #st:focus, #bry:focus{
	border-color: #4A7C59;
	background-color: #F2F7F4;
}

select{
	margin: 0% 4% 4% 4%;
	width: 96%;
	display: block;
	padding: 5px 10px;
 	color: #171614;
 	border: 1.5px solid #ccc;
 	border-radius: 5px;
 	outline: none;
 	text-align: left;
 	font-family: "Verdana";
 	font-size: 13.25px;
}

select:focus{
	border-color: #4A7C59;
	background-color: #F2F7F4;
}

label{
	display: block;
	float: left;
	padding: 2.5px 5px;
	margin-left: 1vw;
	margin-bottom: 1%;
	font-size: 14px;
	font-weight: 750;
	font-family: "Arial";
}

input[type=submit]{
	z-index: 5;
	position: absolute;
	outline: none;
	color: white;
	margin-right: 3vw;
	padding: 10px 17px;
	border: none;
	font-size: 13px;
	border-radius: 5px;
	cursor: pointer;
	font-family: "Arial";
	top: 2.25vh;
	right: 0;
}

#order{
	margin-right: 11vw;
	background-color: #4A7C59;
	}

#cancel{
	margin-right: 18vw;
	outline: none;
	background-color: #BF2722;
}

input[type=submit]:hover{
	box-shadow: 8px 16px 32px -8px rgba(0,0,0,0.2);
	opacity: 0.9;
}

#cins{
	width:  25%;
	height:  50%;
	margin-left: 37.5%;
	background-color: white;
	position: fixed;
	top:  100px;
	border:  1px solid #ccc;
	font-family: "Verdana";
	font-size: 1em;
	text-align: justify;
	padding: 2% 2% 5% 0;
	box-shadow: 0px 0px 1000px 1000px rgba(0,0,0,0.2);
}

#show{
	z-index: 5;
	position: fixed;
	text-align: left;
	color: #171614;
	padding: 8px 15px 8px 15px;
	border:none;
	outline: none;
	font-size: 15px;
	cursor: pointer;
	font-family: "Arial";
	bottom: 12px;
	right: 30vw;
	background-color: #FFFCF2;
	transition: all 0.3s ease 0s;
}

#show:hover{
	opacity: 0.7;
}


