body{
	background-color: #f1f1f1;
	color: white;
	font-family: "Verdana";
	margin:0;
}

/* Start of Market List */

.market{
	background-color: white;
}

#mhead{
	color: black;
	font-family: "Verdana", sans-serif;
}

.market{
	position: absolute;
	max-width: 79%;                   /* Market Header */
	overflow: none;
	margin-top: 3%;
	margin-left: 3%;
	background-color: #f1f1f1;
	text-align: center;
}

.marketsa{
	margin: 4% 5%;
	border: 1px solid #ccc;
	float: left;
	width: 40%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
	transition: all 0.4s ease 0s;
}

.marketsa:hover{
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3);
}

.marketsa img{
	width: 100%;
	height: 25vh;
	object-fit: cover;
	object-position: 50% 50%;
}

.md{
	padding: 5%;
	color: black;
	text-align: center;
}

hr{
	margin-top: 3%;
	margin-bottom: 1%;
}

/* End of Market List */

#active{
	position: absolute;
	margin-top: 3%;
	width: 15%;					/* Active Now */
	height: 100%;
	right: 1%;
	padding: 1%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #FFFCF2;
	border-radius: 4px;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.now{
	font-family: "Verdana";
	font-size: 1.25em;
	color: #171614;
	padding: 1% 1% 5% 1%;
	text-align: center;
}

.plink{
	min-height: 50px;
	display: block;
	margin-top: 12px;
	border-bottom: 1.5px solid #4A7C59;
}

#chatur{
	position: relative;
	display: block;
	float: left;
	margin-left: 5px;
}

h5{
	position: relative;
	text-align: left;
	display: block; 
	margin-left: 50px;
	padding: 5% 0 5% 15px;
	font-size: 13px;
	color: #171614;
	font-family: "Verdana", sans-serif;
	font-weight: 100;
}


