body{
	background-color: #f1f1f1;
	color: white;
	font-family: "Verdana";
	margin: 0;
	color: black;
}

#msgss{
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
}

.br{
	display: block;
	margin-bottom: 5px;
}

.to{
	align-self: flex-start;
	text-align: left;
	max-width: 55%;
	padding: 8px 11px;
	font-size: 14px;
	line-height: 20px;
	border-radius: 15px;
	background-color: #ccc;
	word-wrap: break-word;
}

.from{	
	align-self: flex-end;
	font-family: "Verdana", sans-serif;
	background-color: #66A378;
	text-align: left;
	max-width: 55%;
	height: auto;
	padding: 8px 11px;
	font-size: 14px;
	line-height: 20px;
	border-radius: 15px;
	word-wrap: break-word;
}

#send{
	position: fixed;
	z-index: 5;
	right: 0vw;
	margin-right: 1%;
	bottom: 1.5%;
	padding: 0;
}

#msg{
	flex: 1;
	z-index: 6;
	outline: none;
	border: 2px solid #4A7C59;
	border-radius: 5px;
	width: 73.5vw;
	padding: 10px 5px;
	font-family: "arial";
}

#msg:focus{
	background-color: #F1F7F1;
}

#sendm:enabled{
	cursor: pointer;
}

#sendm{
	right: 0vw;
	flex: 1;
	color: white;
	padding: 10px 17px;
	border: none;
	font-size: 13px;
	border-radius: 5px;
	font-family: "Arial";
	background-color: #4A7C59;
}

#sendm:disabled{
	background-color: gray;
}

#sendm:enabled:hover{
	background-color: #3D6649;
}

#chat{
	position: absolute;
	text-align: justify;
	overflow-x: hidden;
	overflow-y: auto;
	right:  0vw;
	width: 77vw;
	height: 72vh;
	margin: 11vh 1% 1% 1%;
	background-color: #FFFCF2;
	border: 1px solid #ccc;
	border-radius: 5px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	padding: 1% 3%;
  	color: black;
}

#name{
	background-color: none;
	color: black;
	position: fixed;
	top: 55px;
	margin-top: 1%;
	right:  0vw;
	width: 77vw;
	margin-right: 1%;
	padding: 5px 15px;
	max-width:  77vw;
	z-index: 0;
	background-color: #FFFCF2;
	border: 1px solid #ccc;
	border-radius: 15px;
	z-index: 2;
	height: 50px;
}

.emannim{
	position: absolute;
	left: 65px;
}

#help{
	position: absolute;
	margin-top: 1%;
	width: 20vw;					
	height: 86vh;
	left: 1%;
	padding: 1% 0;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #FFFCF2;
	border-radius: 5px;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.helpme{
	position: relative;	
	height: 75px;
	display: block;
	margin-top: 0px;
	border-bottom: 1.5px solid #ccc;
	background-color: #FFFCF2;
}

.helpme:hover{
	background-color: #f1f1f1;
	cursor: pointer;
}

h4{
	position: relative;
	text-align: left;
	display: block; 
	margin-left: 0px;
	padding: 20px 0 5% 15px;
	font-size: 14px;
	color: #171614;
	font-family: "Arial", sans-serif;
	font-weight: 750;
}