#wait{
  background: linear-gradient(90deg, #C3DBCA, #4A7C59);
  font-size: 200%;
  position: absolute;
  top:  0%;
  text-align: center;
  width: 100%;
  height: 100%;
  color: black;
  display: grid;
  z-index: 5;
}

.wait{
  top: 40%;
  left: 42.5%;
  text-align: center;
  position: absolute;
}