body{
  overflow: hidden;
}

#loading {
  margin-right: 20;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #777;
  background-color: #f1f1f1;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
  position: fixed;
}

#loading .content {
  padding: 15px;
  overflow: hidden;
  top: 32%;
  right: 48%;
  position: absolute;
}

#loading h1 {
  padding-bottom: 15px;
  border-bottom: 1px solid #d8d8d8;
  font-weight: 600;
}

#loading h1 span {
  font-family: monospace, serif;
}

#loading h3 {
  padding-bottom: 20px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 2px 0 rgba(255, 255, 255, 0.9);
}

#loading p {
  margin: 0;
  padding: 10px 0;
  color: #777;
}

#loading .load-wrapp {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 10%;
  padding: 20px 20px 20px;
  border-radius: 5px;
  text-align: center;
  background-color: #d8d8d8;
  position: relative;
}

#loading .load-wrapp p {
  padding: 0 0 20px;
}
#loading .load-wrapp:last-child {
  margin-right: 0;
}

#loading .line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #4A7C59;
}

#loading .load .line:nth-last-child(1) {
  animation: loading 0.6s 0.1s linear infinite;
}
#loading .load .line:nth-last-child(2) {
  animation: loading 0.6s 0.2s linear infinite;
}
#loading .load .line:nth-last-child(3) {
  animation: loading 0.6s 0.3s linear infinite;
}

@keyframes loading {
  0 {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}
