body{
	background-color: #f1f1f1;
	color: white;
	font-family: "Verdana";
	margin: 0;
	color: black;
}

.buyp{
	color: black;
	margin: 2% 10%;
}

#buy{
	font-family: "Verdana";
	font-size: 2em;
	font-weight: 1000;
}

#fr{
	margin: 0.5% 0%;
	width: 9%;
	border: 2px solid #4A7C59;
	border-radius: 50px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#plus{
	color: #171614;
	padding: 1px 0;
	width: 20px;
	margin-left: 3px;	
	order: 3;
	background-color: #f1f1f1;
	border: 1.5px solid gray;		
	transition: all 0.3s ease 0s;
}

#plus:hover{
	background-color: #4A7C59;
	opacity: 0.8;
}

#minus{
	color: #171614;
	padding: 1px 0;
	width: 20px;
	margin-right: 3px;	
	order:1;
	background-color: #f1f1f1;
	border: 1.5px solid gray;
	transition: all 0.3s ease 0s;
}

#minus:hover{
	background-color: pink;
	opacity: 0.8;
}

input[type=number] {
  -moz-appearance: textfield;
 	text-align: center;
 	padding: 2px 4px;
 	color: #171614;
 	border: 1.5px solid #171614;
 	border-radius: 5px;
 	outline: none;
 	order:2;
}

.product_table{
	font-family: "Arial";
	font-weight: 100;
	position: absolute;
	text-align: center;
	margin-left: 5%;
	width: 90%;
	height: 60vh;
	background-color: #FFFCF2;
	overflow: auto;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
	border-radius: 20px;
}

h3{
	font-family: "Times New Roman";
	font-weight: 1000;
	font-size: 1.5em;
}

.pname{
	position: absolute;
	width: 30%;
	height: auto;
	border-radius: 90px;
	margin: 1.25vw 0 1vw 2vw;
}

.quantity{
	position: absolute;
	width: 10.5%;
	height: auto;
	border: none;
	margin: 1.25vw 0 1vw 30%;
}

.unit{
	position: absolute;
	width: 18%;
	height: auto;
	margin: 1.25vw 0 1vw 40%;
	border: none;
}

.price{
	position: absolute;
	width: 20.5%;
	height: auto;
	border: none;
	margin: 1.25vw 0vw 1vw 57.5%;
}

.buy{
	position: absolute;
	width: 20%;
	height: auto;
	border: none;
	margin: 1.25vw 0 1vw 77.5%;
}

.product_table #fhr{
	margin-top: 20px;
}

hr{
	border: 1px solid #4A7C59;
	border-radius: 50px;
}

.filler{
	vertical-align:center;
	height: 50px;
	align-items: center;
	display: flex;
	justify-content: center;
}

.addtocart{
	position: fixed;
	bottom: 5vh;
	right: 10vw;
	font-size: 1em;
	font-family: "Verdana";
	padding: 10px;
	background-color: #4A7C59;
	outline: none;
	border: none;
	border-radius: 7.5px;
	opacity: 1;
	color: #f1f1ff;
	transition: all 0.3s ease 0s;

}

.addtocart:hover{
	opacity: 0.8;
	cursor: pointer;
}