/* Start of Navigation Bar */

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li, a{
	font-family: "Verdana", sans-serif;
	text-decoration: none;
}

header{
	background-color: #171614;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: white;
	height: 55px;
	overflow: none;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.links{
	list-style: none;
	color: white;	
}

.links li{
	display: inline-block;
	margin-left: 4vw;
}

.links a{
	font-size: 15px;
	color: #f1f1f1;
	transition: all 0.4s ease 0s;
}

.links a:hover{
	color: #4A7C59;
}

.icons{
	list-style: none;
	color: white;	
}

.icons li{
	display: inline-block;
	margin: 0 2vw 0 0;
}

#burg{
	display: none;
}

#cart{
	margin: 0;
}

.icons i{
	font-size: 18px;
	color: #f1f1f1;
	transition: all 0.4s ease 0s;
}

.icons i:hover{
	color: #4A7C59;
}

.icons #press{
	border: none;
	color: #4A7C59;
}

.prof{
	width: 45px;
	height: 45px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0vw 2vw 0vw 2vw; 
}

.dp{
	height: 100%;
	width: auto;
	cursor: pointer;
}

#nav{
	margin-right: auto;
	z-index: 5;
}

nav{
	margin-right: auto;
}

.evg{
	opacity: 1;
	border-radius: 50px;	
	color: #f1f1f1;
	font-size: 23px;
	font-weight: 1000;
	transition: all 0.4s ease 0s;
	cursor: default;
}

ul{
	list-style-type: none;
}

.dlinks{
	display: none;
	position: absolute;
	right: 8px;
	background-color: #f9f9f9;
  	min-width: 12vw;
  	height: auto;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 5;
} 

.dlinks a{
	color: black;
	text-decoration: none;
	display: block;
	text-align: left;
	padding: 1vw 2vw; 
}

.dlinks a:hover{
	background-color: #171614;
	color: #f9f9f9; 
}

.dlinks #press{
	background-color: #171614;
	color: #f9f9f9;
	border: none;
	padding: 1vw 2vw;
}

.dropdown:hover .dlinks{
	display: block;
}

#press{
	border-bottom: 2px solid #4A7C59;
	padding-bottom: 3px;
}

#press:hover{
	border: none;
}

/* End of Navigation Bar */

@media (max-width: 1257px) {

	.evg{
		font-size: 18px;
	}

	#burg{
		display: block;
		margin-left: 25px;
		font-size: 20px;
		margin-right: auto;
		color: #f1f1f1;
		cursor: pointer;
	}

	nav{
		position: absolute;
		top: 58px;
		left: 1%;
		z-index: 2;
		background-color: #FFFCF2;
		width: 98%;
	}

	.links{
		list-style: none;
	}

	.links li{
		display: block;
		margin: 0;
		padding: 10px 20px;
		border-bottom: 0.5px solid #ccc;
	}

	.links a{
		font-size: 18px;
		color: black;
		transition: all 0.4s ease 0s;
	}

	.links a:hover{
		color: #4A7C59;
	}

	#press{
		background-color: #4A7C59;
		color: white;
		border: none;
		padding: 10px 14px;
	}

	#nav{
		display: none;
	}

	.search-bar{
		display: flex;
		align-items: center;
	}

}

@media (max-width: 355px) {

	.evg{
		font-size: 18px;
	}

	#burg{
		display: block;
		margin-left: 25px;
		font-size: 20px;
		margin-right: auto;
		color: #f1f1f1;
		cursor: pointer;
	}

	nav{
		position: absolute;
		top: 58px;
		left: 1%;
		z-index: 2;
		background-color: #FFFCF2;
		width: 98%;
	}

	.links{
		list-style: none;
	}

	.links li{
		display: block;
		margin: 0;
		padding: 10px 20px;
		border-bottom: 0.5px solid #ccc;
	}

	.links a{
		font-size: 18px;
		color: black;
		transition: all 0.4s ease 0s;
	}

	.links a:hover{
		color: #4A7C59;
	}

	#press{
		background-color: #4A7C59;
		color: white;
		border: none;
		padding: 10px 14px;
	}

	#nav{
		display: none;
	}

	.search-bar{
		display: flex;
		align-items: center;
	}

	.evg{
		display: none;
	}

	.prof{
		margin-left: 20px;
	}

}