body{
	background-color: #f1f1f1;
	color: white;
	font-family: "Verdana";
	margin: 0;
}

#notifs{
	width: 35%;
	margin: 3% 32.5%;
	background-color: #FFFCF2; 
  	box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.1);
  	height: 75vh;
  	overflow: auto;
  	border-radius: 5px;
  	padding-top: 10px;
}

.taas{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #4A7C59;
	height: 45px;
}

.notift{
	color: white;
	font-family: "Verdana";
	font-weight: 100;
	font-size: 18px;
	margin-left: 5%;
}

#mread{
	margin-right: 2%;
	background-color: #4A7C59;
	border: none;
	cursor: pointer;
	color: white;
	font-size: 11px;
}

#mread:hover{
	color: #ccc;
}

.notif_list{
	margin-top: 2vh;
}

.notif_box{
	display: flex;
	height: 40px; 
	padding: 2vh 5%;
	align-items: center;
	cursor: pointer;
}

#notift{
	font-family: "Verdana";
	color: #171614;
	font-size: 15px;
}

.notif_box:hover{
	background-color: #FFF5d6;
}

