body{
	background-color: #f1f1f1;
	color: white;
	font-family: "Verdana";
	margin: 0;
}

/* Start of Navigation Bar */

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li, a{
	font-family: "Verdana", sans-serif;
	text-decoration: none;
}

header{
	background-color: #171614;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.links{
	list-style: none;
	color: white;	
}

.links li{
	display: inline-block;
	margin-left: 4vw;
}

.links a{
	font-size: 1em;
	color: #f1f1f1;
	transition: all 0.4s ease 0s;
}

.links a:hover{
	color: #4A7C59;
}

.icons{
	list-style: none;
	color: white;	
}

.icons li{
	display: inline-block;
	margin: 0 2vw 0 0;
}

.icons i{
	font-size: 23px;
	color: #f1f1f1;
	transition: all 0.4s ease 0s;
}

.icons i:hover{
	color: #4A7C59;
}

.prof{
	width: 55px;
	height: 55px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 10vw;
	margin: 0vw 5vw 0vw 3vw; 
}

.dp{
	height: 100%;
	width: auto;
}

nav{
	margin-right: auto;
}

.evg{
	opacity: 1;
	border-radius: 50px;	
	color: #f1f1f1;
	font-size: 1.5em;
	font-weight: 1000;
	transition: all 0.4s ease 0s;
	cursor: default;
}

ul{
	list-style-type: none;
}

.dlinks{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
  	min-width: 12vw;
  	height: auto;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
} 

.dlinks a{
	color: black;
	text-decoration: none;
	display: block;
	text-align: left;
	padding: 1vw 2vw; 
}

.dlinks a:hover{
	background-color: #171614;
	color: #f9f9f9; 
}

.dropdown:hover .dlinks{
	display: block;
}

#press{
	color: #4A7C59;
}

#press:hover{
	border: none;
}

/* End of Navigation Bar */

#back{
	background-color: #FFFCF2;
	display: flex;
	justify-content: flex;
	align-items: center;
	height: 45px;
}

#back i{
	display: inline-block;
	color: #4A7C59;
	margin: 15px 0 15px 5vw;
	font-size: 20px;
	transition: all 0.3s ease 0s;
}

#back i:hover{
	color: #ccc;
}

#back h2{
	display: inline-block;
	padding-left: 5vw;
	font-family: "Verdana";
	font-size: 19px;
	font-weight: 100;
}

#back p{
	display: inline;
	color: black;
	padding-left: 35px;
	cursor: default;
}

#notifff{
	width: 60%;
	margin: 7vh 20%;
}

#notifff h2{
	color: #4A7C59;
	font-family: "Arial";
	font-size: 43px;
	text-align: center;
}
#notifff h5{
	font-family: "Verdana";
	font-size: 15px;
	color: black;
	text-align: center;
}