body{
	background-color: #f1f1f1;
	color: white;
	font-family: "Verdana";
	margin: 0;
}

#back{
	background-color: #FFFCF2;
	display: flex;
	justify-content: flex;
	align-items: center;
	height: 45px;
}

#back i{
	display: inline-block;
	color: #4A7C59;
	margin: 15px 0 15px 5vw;
	font-size: 20px;
	transition: all 0.3s ease 0s;
}

#back i:hover{
	color: #ccc;
}

#back h2{
	display: inline-block;
	padding-left: 5vw;
	font-family: "Verdana";
	font-size: 19px;
	font-weight: 100;
}

#back p{
	display: inline;
	color: black;
	padding-left: 35px;
	cursor: default;
}

#notifff{
	width: 60%;
	margin: 7vh 20%;
}

#notifff h2{
	color: #4A7C59;
	font-family: "Arial";
	font-size: 43px;
	text-align: center;
}
#notifff h5{
	font-family: "Verdana";
	font-size: 15px;
	color: black;
	text-align: center;
}