body{
	background-color: #f1f1f1;
	color: white;
	font-family: "Verdana";
	margin: 0;
	color: black;
}
/* Start of Nav Bar*/

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li, a{
	font-family: "Verdana", sans-serif;
	text-decoration: none;
}

header{
	background-color: #171614;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.links{
	list-style: none;
	color: white;	
}

.links li{
	display: inline-block;
	margin-left: 4vw;
}

.links a{
	font-size: 1em;
	color: #f1f1f1;
	transition: all 0.4s ease 0s;
}

.links a:hover{
	color: #4A7C59;
}

.icons{
	list-style: none;
	color: white;	
}

.icons li{
	display: inline-block;
	margin: 0 2vw 0 0;
}

.icons i{
	font-size: 23px;
	color: #f1f1f1;
	transition: all 0.4s ease 0s;
}

.icons i:hover{
	color: #4A7C59;
}

.prof{
	width: 55px;
	height: 55px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 10vw;
	margin: 0vw 5vw 0vw 3vw; 
}

.dp{
	height: 100%;
	width: auto;
}

nav{
	margin-right: auto;
}

.evg{
	opacity: 1;
	border-radius: 50px;	
	color: #f1f1f1;
	font-size: 1.5em;
	font-weight: 1000;
	transition: all 0.4s ease 0s;
	cursor: default;
}

ul{
	list-style-type: none;
}

.dlinks{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
  	min-width: 12vw;
  	height: auto;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
} 

.dlinks a{
	color: black;
	text-decoration: none;
	display: block;
	text-align: left;
	padding: 1vw 2vw; 
}

.dlinks a:hover{
	background-color: #171614;
	color: #f9f9f9; 
}

.dropdown:hover .dlinks{
	display: block;
}

#press{
	color: #4A7C59;
}

#press:hover{
	border: none;
}

/* End of Nav Bar*/

hr{
	width: 90%;
	margin-left: 5%;
}

.items {		
	margin: 2vh 10vw 110px 10vw;
	padding-bottom: 20px;
	width: 80%;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.title{
	text-align: center;
	display: flex;
	justify-content: space-between;
	padding: 20px 0vw 1vh 5vw;
}

h4{
	display: inline;
	font-family: "Times New Roman";
	font-size: 1.2em;
}

.uni{
	padding: 15px 0vw 0 5vw;
	display: flex;
	justify-content: space-between;	
	align-items:center;
}

.unit{
	width: 4%;
	color: #766A56;
	text-align: center;
	font-size: 0.7em;
}

.eman{
	width: 25%;
	color: black;
	font-family: "Verdana", sans-serif;
	font-size: 1.1em;
	font-weight: 1000;
}

#eman{
	text-align: left;
	width: 27%;
	margin-left: 0vw;
}

#quan{
	width: 22%;
}

#price{
	width: 22%;
}

#tprice{
	text-align: center;
	width: 24%;
}

.quan{
	width: 20%;
	color: black;
	text-align: center;
	font-size: 0.9em;
}

.price{
	width: 20%;
	text-align: center;
	font-size: 0.9em;
}

.tprice{
	width: 23%;
	text-align: center;
	background-color: 
}

#market{
	color: #1F3325;
	font-size: 0.7em;
	padding: 0;	
	margin-left: 5vw;
}

.tamount{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 4.5vw;
}

#tamount{
	font-size: 0.9em;
	margin-right: 1vw;
	color: #171614;
}

#tantamount{
	font-family: "Verdana";
	font-size: 1em;
	font-weight: 1000;
	color: #BF2722;
}

#back{
	background-color: #FFFCF2;
	display: flex;
	justify-content: flex;
	align-items: center;
	height: 45px;
}

#back i{
	display: inline-block;
	color: #4A7C59;
	margin: 15px 0 15px 5vw;
	font-size: 20px;
	transition: all 0.3s ease 0s;
}

#back i:hover{
	color: #ccc;
}

#back h2{
	display: inline-block;
	padding-left: 5vw;
	font-family: "Verdana";
	font-size: 19px;
	font-weight: 100;
	cursor: default;
}

.deets{
	margin: 4vh 0 0 13vw;
	color: #3b352b;
}

.deets h6{
	font-size: 0.8em;
}