body{
	font-family: "Lato";
	margin: 0;
	background-color: #f1f1f1;
}

a{
	text-decoration: none;]
	color: black;
}

.error{
	color: #FF0000;
	font-size: 0.75em;
	position: absolute;
}

.info{
	margin: 1%;
	margin-left: 25vw;
	width: 50vw;
	height: auto;
	padding: 1%;
	background-color: #FFFCF2;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius: 20px;
	padding-bottom: 0.25%;
}

.mprof{
	width: 9vw;
	height: 9vw;
	overflow: hidden;
	border-radius: 50%;
	margin: 1% 0vw 0vw 19.75vw; 
	text-align: center;
}

.mprof:hover{
	cursor: pointer;
}

.mdp{
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}

.cred{
	text-align: center;	
	padding: 1vw;
	line-height: 1.5vw;
	color: #171614;
}

#usern{
	font-size: 1em;
	font-weight: 750;
	font-family: "Arial";
}

#name{
	font-family: "Arial";
	font-weight: 750;
	font-size: 1em;
}

#email{
	font-family: "Arial";
	font-size: 0.9em;
	color: #766A56;
	font-weight: 100;
}

br{
	line-height: 1px;
}

.changep{
	font-family: "Verdana";
	margin: 1.75%;
	margin-left: 25vw;
	width: 50vw;
	height: auto;
	padding: 1%;
	padding-bottom: 0.25%; 
	text-align: center;
	background-color: #FFFCF2;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius: 20px;
}

.passer{
	font-family: "Arial", sans-serif;
	font-size: 0.85em;
	padding-bottom: 1vw;
}

.changep input{
	outline: none;
	padding: 1%;
	border-radius: 10px;
	border: 2px solid #4A7C59;	
	text-align: center;
	margin-bottom: 2%;
	box-shadow: inset 0 0 5px #ccc;
}

.changep input:focus{
	background-color: #D9E8DD;
	border-color: black; 
	box-shadow: none;
}

.button{
	font-size: 1em;
	font-family: "Verdana";
	padding: 1%;
	background-color: #4A7C59;
	outline: none;
	border: none;
	border-radius: 7.5px;
	opacity: 1;
	color: #f1f1ff;
	margin-top: 1%;
	box-shadow: none;
}

.button:enabled:hover{
	opacity: 0.8;
	cursor: pointer;
}

.button:disabled{
	background-color: gray;
}

.logout{
	text-align: center;
}

.lolo{
	font-family: "Arial";
	color: #FF0000;
	font-weight: 100;
	font-size: 0.9em;
}

#upload_pic{
	z-index: 5;
	text-align: center;
	width:  35%;
	height:  40%;
	margin-left:32.5%;
	background-color: white;
	position: fixed;
	top:  100px;
	border-radius: 10px;
	border:  2px solid #ccc;
	box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.4);
}

.cons{
	margin-top: 20px;
	font-family: "Courier";
	font-size: 15px; 
	margin-bottom: 20px;
}

input[type=file]{
	color: black;
	padding: 0;
}

.fload{
	border: 2px solid #171614;
	width: 70%;
	border-radius: 0;
}

.uload{
	background-color: #eee;
	border-radius: 2px;
	border: 2px solid black;
	padding: 3px 10px;
	color: black;
}

h6{
	padding: 3px 10px;
	color:#FF0000;
	font-size:13px;
	position: absolute;
	bottom: 20px;
	right: 40px;
	cursor: pointer;
}
