.search-bar input[type=text] {
  padding: 6px 10px;
  margin-top: 1.1vh;
  font-size: .95vw;
  border: none;
}

.search-bar i{
  float: right;
  padding: 6px 10px;
  margin-top: 1.1vh;
  margin-right: 2vw;
  background: #ddd;
  font-size: 1.15vw;
  border: none;
  color: black;
}

#sres{
  position: absolute;
  margin-top: -6px;
  min-height: 10%;
  z-index: 10;
  width: 15.6%;         
  max-height: 40%;
  right: 44.4%;
  padding: 1%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #FFFCF2;
  display: inline-block;
}


/* Links inside the dropdown */
#sres a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
#sres a:hover {
  background-color: #f1f1f1
}

.plink{
  min-height: 50px;
  margin-top: 12px;
  border-bottom: 1.5px solid #4A7C59;
}

#chatur{
  position: relative;
  float: left;
  margin-left: 5px;
}

h5{
  position: relative;
  text-align: left;
  margin-left: 50px;
  padding: 5% 0 5% 15px;
  font-size: 13px;
  color: #171614;
  font-family: "Verdana", sans-serif;
  font-weight: 100;
}