.search-bar input[type=text] {
  padding: 6px 10px;
  font-size: .95vw;
  border: none;
}

.search-bar i{
  float: right;
  padding: 6px 10px;
  background: #ddd;
  font-size: 1.15vw;
  border: none;
  color: black;
}

#sres{
  position: absolute;
  background-color: #f9f9f9;
  min-width: 15.45vw;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 11;
  min-height: 10%;
  max-width: 15.5%;         
  max-height: 40%;
  overflow-y: auto;
  background-color: #FFFCF2;
}


/* Links inside the dropdown */
#sres a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
#sres a:hover {
  background-color: #f1f1f1
}

.plink{
  min-height: 50px;
  margin-top: 12px;
  border-bottom: 1.5px solid #4A7C59;
}

#chatur{
  position: relative;
  float: left;
  margin-left: 5px;
}

h5{
  position: relative;
  text-align: left;
  margin-left: 50px;
  padding: 5% 0 5% 15px;
  font-size: 13px;
  color: #171614;
  font-family: "Verdana", sans-serif;
  font-weight: 100;
}

@media (max-width: 1257px) {

  .search-bar i{
    float: left;
    font-size: 1px;
  }

  .search-bar input[type=text]{
    padding: 10px 10px;
    font-size: 15px;
  }

}