body{
	font-family: "Verdana";
	background-color: #171614;
	color: black;
	margin: 0;
}

.header{
	font-family: "Verdana";
	font-size: 46px;
	padding-left: 1%;
	height: 11%;
	display: inline-block;
	margin-left: 5vw;
	margin-top: 15vh;
	position: absolute;
	color: white;
	width: 55%;
}

.error{
	color: #FF0000;
	position: absolute;
	background-color: #211F1C;
	padding: 3px 10px;
	border-radius: 10px;
}

form{
	background-color: #211F1C;
	display: inline-block;
	text-align: left;
	margin-left: 60vw;
	margin-top: 8vh;
	color: white;
	width: 25%;
	font-family: "Verdana";
	font-size: 15px;
	box-shadow: 20px;
	padding: 2% 20px; 
	box-shadow: 16px 16px 16px 0px rgba(0,0,0,0.5);
}

input{
	padding: 2px;
	margin-bottom: 15px;
	box-shadow:inset 0 0 5px #000;
}

input[type=radio]{
	box-shadow: none;
	outline: none;
	border: none;
}

.field{
	padding: 5px 10px;
	width: 17.5vw;
	outline: none;
	border-radius: 7.5px;
	border: 2px solid #211F1C;
}

.field:focus{
	border: 2px solid #4A7C59;
}

.button{
	font-size: 20px;
	font-family: "Verdana";
	padding: 10px;
	background-color: #4A7C59;
	outline: none;
	border: none;
	border-radius: 7.5px;
	opacity: 0.7;
}

.button:disabled{
	background-color: gray;
}

.button:enabled:hover{
	opacity: 1;
	cursor: pointer;
}

header{
	background-color: #4A7C59;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	width: 100%;
	height: 55px;
}

li, a{
	text-decoration: none;
	font-family: "Verdana", sans-serif;
}

ul {
	list-style-type: none;
 }

.links{
	list-style: none;
	color: white;
}

.links li{
	display: inline-block;
	margin-left: 4vw;
}

.links a{
	font-size: 1em;
	color: #f1f1f1;
	transition: all 0.4s ease 0s;
}

.links a:hover{
	color: #171614;
}

#press{
	border-bottom: 2px solid #171614;
	padding: 10%;
}

#press:hover{
	border: none;
	color: #171614;
}

nav{
	margin-right: 5%;
}

.page{
	border-bottom: 2px solid #171614;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#wait1{
  background: linear-gradient(90deg, #C3DBCA, #4A7C59);
  font-size: 200%;
  position: absolute;
  top:  0%;
  text-align: center;
  width: 100%;
  height: 100%;
  color: black;
  display: none;
  z-index: 5;
}

.wait1{
  top: 40%;
  left: 42.5%;
  text-align: center;
  position: absolute;
}

@media (max-width: 800px) {

	header{
		height: 70px;
	}
	.links a{
		font-size: 22px;
		padding: 5px;
	}
	.header{
		display: block;
		text-align: center;
		font-size: 23px;
		margin: 5% 0;
		position: relative;
		width: 100%;
	}
	form{
		display: block;
		margin: 5% 5%;
		width: 90%;
		text-align: center;
		font-size: 20px;
	}
	.field{
		width: 80%;
		font-size: 20px;
		padding-left: 13px;
	}
	#rmove{
		display: none;
	}
	.field::placeholder{
		color: white;
	}
	.error{
		display: none;
	}

}