body{
	font-family: "Lato";
	margin: 0;
	background-color: #f1f1f1;
}

a{
	text-decoration: none;]
	color: black;
}

.error{
	color: #FF0000;
	font-size: 0.75em;
	position: absolute;
}

.info{
	margin: 1%;
	margin-left: 25vw;
	width: 50vw;
	height: auto;
	padding: 1%;
	background-color: #FFFCF2;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius: 20px;
}

.cred{
	text-align: center;	
	padding: 1vw;
	line-height: 1.8vw;
	font-weight: 100;
	color: #171614;
	margin-top: 5%;
}

.mprof{
	width: 9vw;
	height: 9vw;
	overflow: hidden;
	border-radius: 50%;
	margin: 1% 0vw 0vw 19.75vw; 
	text-align: center;
}

.mdp{
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}

#uname{
	font-family: "Arial";
	font-weight: 1000;
	font-size: 1em;
}

#name{
	font-size: 0.9em;
	color: #766A56;
	font-family: "Arial";
}

.msgbox{
	margin: 10% 25% 1% 25%;
	border-radius: 15px;
	padding: 1%;
	width: 50%;
	background-color: #4A7C59;
	text-align: center;
	transition: all 0.3s ease 0s;
}

.msgbox:hover{
	opacity: 0.8;
	cursor: pointer;
}

.msg{
	text-align: center;	
	color: #f1f1f1;
}